<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Sinatra 9:30.com Scrapper</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10">
          <h1>Sinatra-based Scrapper for the <a href="http://www.930.com/concerts/" target="_blank">9:30.com</a> website</h1>
    
          <h3>This is based entirely based on blog by Hunter Powers</h3>
    
          <p>
            With the exception of updates to the CSS selectors and some styling changes, this is exactly the same program as demonstrated in <a href="http://hunterpowers.com/data-scraping-and-more-with-ruby-nokogiri-sinatra-and-heroku/" target ="_blank">this blog post</a> by Hunter Powers. I wanted to play with Nokogiri and Sinatra and this provided a quick and easy way to have fun with those two awesome gems.
          </p>
    
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th><strong>Main Act</strong><br /><small>Opening Act</small></th>
                <th>Time</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
        
              <% @concerts.css('.list-view-item').each do |concert| %>
        
                <tr>
                  <th></th>
                  <th><%= concert.at_css('.dates').text %></th>
                  <td>
                    <% if concert.at_css('.tickets') %>
                      <strong><a href="<%= concert.at_css('.tickets')[:href] %>" target="_blank">
                        <%= concert.at_css('.summary').text %></strong>
                        <% unless concert.at_css('.supports').nil? %>
                          <small><%= "<br /> #{concert.at_css('.supports').text}" %></small>
                        <% end %>
                      </a>
                    <% else %>
                      <del>
                        <%= concert.at_css('.summary').text %>
                        <% unless concert.at_css('.supports').nil? %>
                          <%= "<br /> #{concert.at_css('.supports').text}" %>
                        <% end %>
                      </del>
                    <% end %>
                  </td>
                  <td><%= concert.at_css('.times').text.strip %></td>
                  <td>
                    <%= concert.at_css('.custom').nil? ? concert.at_css('.price-range').text.strip : "SOLD OUT"  %>
                  </td>
                  <th></th>
                </tr>
        
              <% end %>
        
            </tbody>
          </table>
        </div>
        <div class="col-md-1 col-xs-1"></div>
      </div>
    </div>
  </body>
</html>



